In [15]:
import pandas as pd
import numpy as np
import copy

In [16]:
fp_clients = '../data/clients_attributes.csv'

df_clients = pd.read_csv(fp_clients, encoding='ISO-8859-1', sep=',')

In [17]:
df_clients.head(1)

,Cliente,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2009-03-03,4,21,12,1,1,1

In [18]:
col_variable = 'Region'
df_g1 = df_clients.groupby([col_variable]).agg({
  'FechaAltaCliente': 'count',
}).reset_index()
col_num_clientes = 'num_clientes_' + col_variable
df_g1 = df_g1.rename(columns={'FechaAltaCliente': col_num_clientes})
display(df_g1.head(1))
numero_clientes = len(df_clients)
col_proporcion_clientes = 'prop_clientes_' + col_variable
df_g1[col_proporcion_clientes] = df_g1[col_num_clientes] / numero_clientes
display(df_g1)

   Region  num_clientes_Region
0       1                 3397

   Region  num_clientes_Region  prop_clientes_Region
0       1                 3397              0.225430
1       2                    3              0.000199
2       3                 4981              0.330546
3       4                 3531              0.234322
4       5                 3157              0.209503

In [28]:
# A partir de la tabla de clientes obtener la cuenta y proporcion
# de la col_variable
#Region	Gerencia	SubCanal	TipoPoblacion	Estrato	EF
def obtener_prop_num(df, col_variable):
  """
  df: pd.Dataframe
  col_variable: str
  """
  # Copia: para asegurarnos que no modificamos df -> se debe hacer refactoring
  c_df = copy.deepcopy(df)
  # Cuenta de registros en tabla de clientes
  numero_clientes = len(c_df)
  
  # Contamos registros por valor de col_variable
  df_g1 = c_df.groupby([col_variable]).agg({
    'FechaAltaCliente': 'count',
  }).reset_index()
  
  # Creamos nombre de la columna donde se almacena el numero de clientes
  col_num_clientes = 'num_clientes_' + col_variable
  # Renombrar columna donde se almacena el numero de clientes
  df_g1 = df_g1.rename(columns={'FechaAltaCliente': col_num_clientes})
  # Creamos nombre de la columna donde se almacena la proporcion de clientes
  col_proporcion_clientes = 'prop_clientes_' + col_variable
  # Agregamos columna que almacena informacion de propocion de clientes 
  df_g1[col_proporcion_clientes] = df_g1[col_num_clientes] / numero_clientes
  
  return df_g1

df_test1 = obtener_prop_num(df_clients, 'EF')
display(df_test1)

   EF  num_clientes_EF  prop_clientes_EF
0   0             9664          0.641317
1   1             5405          0.358683